.messages {
  flex: 0 0 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messages-header {
  height: 12%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2%;
  background-color: #f5f5f5;
  border-bottom: 1px solid rgb(211, 205, 205);
}
.messages-header__photo {
  width: 50px;
  height: 50px;
  border: 50%;
}
.messages-header__photo img {
  width: 100%;
  height: 100%;
}
.messages-header__name {
  margin-left: 2%;
  font-weight: 500;
  font-size: 18px;
}
.messages-body {
  flex: 0 0 70%;
  width: 100%;
  max-width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.messages-body::-webkit-scrollbar {
  width: 0px;
}
.messages-body__no-message {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-------MESSAGE--------*/
.message {
  display: flex;
  padding: 10px;
}
.message--my {
  justify-content: flex-end;
}
.message__photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.message__photo img {
  width: 100%;
  height: 100%;
}
.message__body {
  flex: 0 0 90%;
  margin-left: 10px;
}
.message__body--my {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.message__text {
  min-height: 40px;
  background-color: #3c4252;
  color: white;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
}
.message__text--my {
  background-color: #e0e0e0;
  color: black;
}
.message__date {
  padding-left: 15px;
  padding-top: 5px;
  color: #3c4252;
  font-size: 12px;
}

/*------INPUT-------*/
.messages__input {
  flex: 0 0 18%;
  border-top: 1px solid rgb(211, 205, 205);
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.messages__input textarea {
  width: 90%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  padding-left: 20px;
  padding-top: 13px;
  color: #3c4252;
  font-size: 18px;
  cursor: text;
}

.messages__send-button {
  position: absolute;
  top: 40%;
  right: 7%;
  width: 20px;
  height: 20px;
}
.messages__send-button img {
  width: 100%;
  height: 100%;
}
