* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
textarea {
  resize: none;
  outline: none;
}
button {
  background: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}
button:active {
  transform: scale(0.9, 0.9);
}
.app-container {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
}
