.dialogs {
  height: 100%;
  flex: 0 0 33%;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
}
.dialogs-header {
  height: 25%;
  width: 100%;
  background-color: #f5f5f5;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dialogs-header__my-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.dialogs-header__my-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.dialogs-header__search {
  height: 30px;
}
.dialogs-header__search input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.432);
  outline: none;
  padding: 0 10px;
}
.dialogs-header__search input:focus {
  border: 1px solid rgba(128, 128, 128);
}
.dialogs-body {
  height: 75%;
  width: 100%;
}
.dialogs-body__title {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  font-weight: 500;
  font-size: 20px;
  color: #4297c0;
}
.dialogs-list {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
}
.dialogs-list::-webkit-scrollbar {
  width: 0px;
}
.dialogs-list-item {
  height: 100px;
  width: 100%;
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(211, 205, 205);
}
.dialogs-list-item__photo {
  height: 100%;
  width: 15%;
}
.dialogs-list-item__photo img {
  width: 100%;
  height: 100%;
}
.dialogs-list-item__name {
  flex: 1 0 auto;
  height: 100%;
  font-size: 20px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dialogs-list-item__last-message {
  font-size: 12px;
  color: gray;
}
.dialogs-list-item__date {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: gray;
}
